
:root{
    --ofsize : 75px;
    --odinsize: 8rem;
    --paddingsize: 5vh;
}

@font-face {
    font-family: odinfon;
    src: url("images/Norse-Bold.otf");
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    font-family: odinfon;

    
}
.left{
    display: flex;
    flex: 35%;
    background-image: url('images/halie-west-25xggax4bSA-unsplash\ \(1\).jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.odin{
    display: flex;

    justify-content: center;
    color: white;
    font-size: var(--odinsize);
    font-family: odinfon;
    align-self: center;
    margin-top: 50%;
    background-color: rgb(0, 0, 0,0.5);
    width: 100%;
}
.logo{
   
}
.logo > img{
    max-width: var(--odinsize);
    height: var(--odinsize);
   
}
.bottomlink{
    display: flex;
    justify-content: center;
    color: azure;
margin-bottom: 0%;
}
.right{
    display: flex;
    color: black;
    flex: 65%;
    flex-direction: column;
  
}
.tright{
    flex: 33%;

}
.mright{
    flex: 33%;
    box-shadow: 0px 2px 2px gray;
    
}
.formstuff{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 1.5em;
}
.lform > div{
display: flex;
flex-direction: column;
}
.rform > div{
display: flex;
flex-direction: column;
}

h1{
    padding-left: 5vh;
    padding-right: 10vh;
}
form{
    padding-left: 5vh;
    padding-right: 10vh;
}
.bright{
    flex: 33%;
    padding-left: 5vh;
    padding-right: 10vh;
}
input{
width: 200px;
height: 25px;
border: 2px solid #E5E7EB;
border-radius: 5%;



}
input:focus{
    border: 2px solid blue;
}
input[type = "password"]{
    border: 2px solid #dd1f28;
}


button{
    background-color: #596D48;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 1.3rem;
    margin-top: 50px;
    font-family: odinfon;

}
p > a{
    color: #596D48;
    text-decoration: none;
}
